/*
font-family: 'DM Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Belleza', sans-serif;
font-family: 'Merriweather', serif;
*/


.slideshow {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s;
}


body {
    margin: 0;

}

.banner {
    text-align: center;
    font-size: 25px;
  }

  .banner img {
    object-fit: contain;
    width: 100%;
  /* or
    object-fit: cover; */
  } 

.main{
    margin: 5vh 10vw;
}

h1{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 3vw;
    padding-bottom: 1vw;
    color: black;
    font-size: 40px;
}

h2{
    padding-top: 2vw;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.cv{
  text-align: center;
}


/*/////// main grid //////////*/

.grid-container-main {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
  }
  .grid-item-main {
    text-align: left;
   margin: 3vh 3vw;
    
  }

  #about-foto {
    background-color: #5062ae;
    width: 30vw;
    height: 40vh;

  }
  #about-foto img{
    width: 25vw;
    float: right;

  }

.about-link{
   
    color: black;
    border: 1px rgb(156, 156, 156) groove;
    border-radius: 5px;
    padding: 10px 10px;
    float: right;
    margin-top: 12vh;
    margin-left: 1vw;
    background-color: #f6f6f6;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.about-link:hover{
  color:rgb(98, 143, 220);
}


/*///////////////// nav /////////////*/



.nav-bar{

    overflow: hidden;
    background-color: #141414;
    font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   display: flex;
   justify-content: center;
   z-index: 999;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #3b3b3b;
    color: #4565Ca;
  }
  


h5{
    color: white;
}


/*//////////////////////////////*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5vw auto;
}

.grid-item {
    padding: 10px 10px;
}

/*//////////////////////////////*/



.card {
    width: 26rem;
    height: 18rem;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #141414;
    box-shadow: 0 10px 40px 5px rgba(0, 0, 0, 0.2);
    filter: brightness(98%);
    background-color: #5062ae;
}

.card:hover{
    filter: brightness(90%);
}

.card h2 {
    position: absolute;
    inset: auto auto 40px 35px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px white;
}

.card p,
.card a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}

.card p {
    inset: auto auto 55px 30px;
    font-family: 'Open Sans', sans-serif;
}

.card a {
    inset: auto auto 25px 30px;
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.card:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset 0.3s ease-out;
    color: #ffffff;
    text-shadow: 1px 2px 1px black;
}


.card:hover a {
    opacity: 2;
    transition: opacity 0.6s 0.1s ease-in;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.card:hover p{
    opacity: 2;
    transition: opacity 0.6s 0.1s ease-in;
    font-family: 'Noto Sans', sans-serif;
    color: white;

}

.card:hover video {
    transition: opacity 0.3s ease-in;
    filter: brightness(50%);

}

.material-symbols-outlined {
    vertical-align: middle;
}

strong{
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

b{
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}






/*////// moving text ///////*/


.marquee-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 80%;
  height: 100px; /* Adjust the height as needed */

}

.marquee {
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  margin-left: 5vw;

}

.marquee span {
  display: inline-block;
  animation: marquee-slide 20s linear infinite;
margin-left: 10vw;
}

@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}




/*/////////////Contact /////////////////*/
form{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
input[type=text],[type=number],[type=email] ,[type=tel] , [type=date],[type=file] , select, textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;  
  font-weight: 500;
 

}
input[type="tel"] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 20px;
  resize: vertical;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 15px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

input[type=submit]:hover {
  background-color: #5062ae;
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  box-shadow: 9px 16px 13px -3px rgba(0,0,0,0.2);
}

.containerform {
  border-radius: 5px;
  padding: 30px;
  margin-left: 25%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;

}

input:invalid ,textarea:invalid {
  border: none;
  outline: 1px solid #4e5e81;
  font-family: 'Open Sans', sans-serif;

}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"]
input[type="date"]
input[type="file"]{
  background-color: #f4f6f6;
    border: 1px solid #5b5d63;
}

textarea{
  background-color: #f5f7f8;
}

input[type="date"] {
    background-color: #f5f7f8;
    border: 1px solid #5b5d63;
}

input[type="file"] {
    background-color: #f5f7f8;
    border: 1px solid #5b5d63;
}

form{
  padding: auto 2vw;
}


/*//////////////////*/


footer {
  background-color: #ffffff;
  margin-top: 7vw;
  height: fit-content;
}

.flex-containerfooter {
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
  font-weight: 500;
}

.flex-itemfooter {
  padding: 20px;
  text-align: center;
}

.flex-itemfooter:hover {
  color: #6991ba;
}

.footerlogo {
  width: 12vw;
  margin: auto 2vw;
}


.rechten {
 text-align: center;
  font-size: 12px;
  margin-top: 0;
  margin-top: 2vh;
}



/*////////// project page ///////////*/

.project_container{
    margin: 1vh 6vw;
}
.container-slide{
    padding: 10px;
    margin: 4vw 35vw;
    width: 25vw;
    height: 10vw;

}
.place{
   padding: 4vh ;
    height: 8vh;
    width: 100%;
}

#wss{
    opacity:0;
    -webkit-transition:opacity 1.0s linear 0s;
    transition:opacity 1.0s linear 0s;
}
.container-slide img{
    border: #4e5e81 groove 1px;
    border-radius: 10px 25px;
    width: 30vw;
    box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.2);
}
/*/*/

.project_container a:hover{
    background-color: #5062ae;
    color:white;
    font-weight: 500;
    border: #6991ba groove 1px;
    box-shadow: 9px 16px 13px -3px rgba(0,0,0,0.2);
}


.project_container div.break{
    word-wrap: break-word;
}




/*///*/
.main1{
    margin-bottom: 10vw;
}


/*/////// animation projects////*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}




/*/// pop up /////*/


